<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Details - {{question.firstname}} {{question.lastname}}</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>2.23
	<body>
		<header>
			<h1>Details - {{question.firstname}} {{question.lastname}}</h1>
				<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
    <table>
      <tr><th>Title</th><th>Summary</th><th>Description</th></tr>
        <tr>
          <td>{{question.title}}</td>
          <td>{{question.summary}}</td>
          <td>{{question.description}}</td>
        </tr>
    </table>
    </main>
    <main>
      <form method="post" action="/faq/answer/{{id}}" enctype="multipart/form-data">
        <p>
          <label for="description"><h4>Response</h4></label><br />
          <textarea name="answer" placeholder="Enter answer" required></textarea>
        </p>
        <p><input type="submit" value="Submit"></p>
      </form>
    </main>
   {{#if display}}
    <main>
      <h4>Keywords</h4>
      <tr>
        {{#each faqtag}}  
        <td><a class="post" href="/faq/answer/{{this.questionid}}/keyword">{{this.keyword}}</a></td>
        {{/each}}
        </tr>
      <form method="post" action="/faq/answer/{{id}}/keyword" enctype="multipart/form-data">
        <p>
          <input type="text" name="user" placeholder="Add keyword" value="{{body.user}}" autofocus>
        </p>
        <p><input type="submit" value="Submit"></p>
      </form> 
      <table>
      <form method="post" action="/faq/answer/{{id}}/flag" enctype="multipart/form-data">
        <h4>Answers</h4>
        {{#each faqans}}
        <tr>
        <td>{{this.answer}}</td>
        <td><input type="submit" value="Submit"></td>
        </tr>
        {{/each}}
      </form>
      </table>
    </main>
    {{/if}}
      <button class="back">Back</button>
	</body>
</html>
