
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>Secure Page</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
    <table>
      <tr><th>Name</th><th>Title</th><th>Summary</th><th>Status</th></tr>
      {{#each records}}
        <tr>
          <td>{{this.firstname}} {{this.lastname}}</td>
          <td>{{this.title}}</td>
          <td>{{this.summary}}</td>
          <td>{{this.status}}</td>
        </tr>
      {{/each}}
    </table>
		</main>
	</body>
</html>
