
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>FAQ - Questions</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>FAQ</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<section>
      <a class="post" href="/faq/post">New Question</a>
      <div class="container">
        <div class="accordion">
          {{#each records }}
          <div class="faq-item" id="question{{this.id}}">
            <a class="faq-link" href="#question{{this.id}}">
             <h4>{{this.title}}</h4> 
            </a>
            <div class="answer">
              <h5>
                {{this.summary}}
              </h5>
              <p>
                {{this.description}}
              </p>
              <p>
                <a href="faq/answer/{{this.id}}">answer</a>
              </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
		</section>
	</body>
</html>
