
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>FAQ - Questions</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>Questions</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
      {{#each records}}
      <li class="faq_title"><h2><img src="avatars/{{this.photo}}"/>{{this.title}}</h2></li>
      <li class="faq_content">
        <a class="cd-faq__trigger" href="#0"><span>{{this.summary}}</span></a>
            <div class="cd-faq__content">
              <div class="text-component">
            {{this.description}}
          </div>
        </div> <!-- cd-faq__content -->
      </li>
     {{/each}}
		</main>
    <a class="post" href="/faq/post">New Question</a> 
	</body>
</html>
