
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>Log In</h1>
		<a href="/register">Register</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<section>
		<form action="/login" method="post">
			<p>
				<label for="user"><h4>Username</h4></label><br />
				<input type="text" name="user" placeholder="your username" value="{{body.user}}" autofocus>
			</p>
			<p>
				<label for="pass"><h4>Password</h4></label><br />
				<input type="password" name="pass" placeholder="your password" value="{{body.pass}}">
			</p>
			<input type="hidden" name="referrer" value="{{referrer}}">
			<p><input type="submit" value="Log in"></p>
      <p><a href="/">Home page</a></p>
		</form>
		</section>
	</body>
</html>
